DB_USERNAME=root
DB_PASSWORD=change-me
SPRING_DATASOURCE_URL=jdbc:mysql://mysql-db:3306/flourishing?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
REDIS_HOST=redis
REDIS_PORT=6379
FRONTEND_ALLOWED_ORIGINS=http://localhost:5173
CSRF_COOKIE_DOMAIN=
